<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails employe</title>
</head>
<body>

    <h1>Détails employe</h1>

    <div th:if="${employe != null}">
        <p><strong>Nom :</strong> <span th:text="${employe.nom}"></span></p>
        <p><strong>Prénom :</strong> <span th:text="${employe.prenom}"></span></p>
        <p><strong>Poste :</strong> <span th:text="${employe.poste}"></span></p>
        <p><strong>Date d'embauche :</strong> <span th:text="${employe.dateEmbauche}"></span></p>

        <h2>Projets affectés</h2>
        <ul>
            <li th:each="projet : ${employe.projets}">
                <span th:text="${projet.nom}"></span>
            </li>
        </ul>
    </div>

    <div th:unless="${employe != null}">
        <p>L'employé n'existe pas.</p>
    </div>
    <div>
        <a th:href="@{/employes}">Liste employés</a>
    </div>

</body>
</html>