<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h2>Projects List</h2>
    <a th:href="@{/home}">Home</a>
    <a th:href="@{/projets/ajouter}">Add Project</a>
    <br>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Equipe</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="projet : ${projets}" >
                <td th:text="${projet.id}" ></td>
                <td th:text="${projet.nom}"></td>
                <td th:text="${projet.dateDebut}"></td>
                <td th:text="${projet.dateFin}"></td>
                <td>
                    <ul>
                        <li th:each="employe : ${projet.equipe}" th:text="${employe.prenom+' '+employe.nom}"></li>
                    </ul>
                </td>
                <!-- URL /home/detail?id -->
                <!-- <td><a th:href="@{/home/detail(id=${projet.id})}">Detail</a></td> -->
                <!-- URL /home/detail/id -->
                <td><a th:href="@{/projets/detail/{id}(id=${projet.id})}">Detail</a></td>
                <td><a th:href="@{/projets/modifier/{id}(id=${projet.id})}">Modifier</a></td>
                <td>
                    <form th:action="@{/projets/supprimer/{id}(id=${projet.id})}" method="post">
                        <!-- balise input pour l'ID projet -->
                        <input type="hidden" name="id" th:value="${projet.id}" />
                        <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet employé ?')">Effacer</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/projets/ajoutemploye}" method="post">
                        <input type="hidden" id="id" name="projetId" th:value="${projet.id}">
                        <select id="employe" name="employe">
                            <option th:each="employe : ${employes}" th:value="${employe.id}" th:text="${employe.getNom()}"></option>
                        </select>
                        <button type="submit">Ajouter Employe</button>
                     </form>
                </td>
                <td>
                    <form th:action="@{/projets/enleveremploye}" method="post">
                        <input type="hidden" id="id" name="projetId" th:value="${projet.id}">
                        <select id="employe" name="employe">
                            <option th:each="employe : ${projet.equipe}" th:value="${employe.id}" th:text="${employe.getNom()}"></option>
                        </select>
                        <button type="submit">Enlever Employe</button>
                     </form>
                </td>
                
                
            </tr>
        </tbody>
    </table>
    
</body>
</html>